.flashcard-wrapper {
    perspective: 600px;
    transform-style: preserve-3d;
}

.flashcard {
    perspective: 600px;
    transform-style: preserve-3d;
    transform-origin: center;

    .front,
    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .shine,
    .glare {
        will-change: transform, opacity, background-image, background-size, background-position, background-blend-mode,
            filter;
    }
}
