@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-base: 250 244 237;
  }

  html[data-theme="default"] {
    --color-base: 250 244 237;
  }

  html[data-theme="light"] {
    --color-base: #faf4ed;
  }
}

body {
  @apply bg-base;
}
