@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply absolute w-full h-full;
  }

  html,
  html[data-theme="default"] {
    --color-base: 250 244 237;
    --color-surface: 255 250 243;
    --color-overlay: 242 233 222;
    --color-muted: 152 147 165;
    --color-subtle: 121 117 147;
    --color-text: 87 82 121;
    --color-accent: 40 105 131;
    --color-theme-red: 235 111 146;
    --color-theme-blue: 40 105 131;
    --color-theme-gold: 234 157 52;
    --color-theme-green: 86 148 159;
    --color-theme-purple: 144 122 169;

    --color-highlight-low: 244 237 232;
    --color-highlight-medium: 223 218 217;
    --color-highlight-high: 206 202 205;

    --color-base-contrast: 25 23 36;
    --color-surface-contrast: 31 29 46;
    --color-overlay-contrast: 38 35 58;
    --color-muted-contrast: 110 106 134;
    --color-subtle-contrast: 144 140 170;
    --color-text-contrast: 224 222 244;
    --color-accent-contrast: 196 167 231;
  }

  html[data-theme="dark"] {
    --color-base: 25 23 36;
    --color-surface: 31 29 46;
    --color-overlay: 38 35 58;
    --color-muted: 110 106 134;
    --color-subtle: 144 140 170;
    --color-text: 224 222 244;
    --color-accent: 196 167 231;
    --color-theme-red: 235 111 146;
    --color-theme-blue: 49 116 143;
    --color-theme-gold: 246 193 119;
    --color-theme-green: 156 207 216;
    --color-theme-purple: 196 167 231;

    --color-highlight-low: 33 32 46;
    --color-highlight-medium: 64 61 82;
    --color-highlight-high: 82 79 103;

    --color-base-contrast: 250 244 237;
    --color-surface-contrast: 255 250 243;
    --color-overlay-contrast: 242 233 222;
    --color-muted-contrast: 152 147 165;
    --color-subtle-contrast: 121 117 147;
    --color-text-contrast: 87 82 121;
    --color-accent-contrast: 40 105 131;
  }
}

body {
  @apply bg-stone-100 text-stone-900;
  @apply relative h-full w-full flex flex-col;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-xl font-bold;
}

h4 {
  @apply text-lg font-bold;
}

p {
}

hr {
  @apply border-0 border-t border-solid border-subtle/50 my-4;
}

#headlessui-portal-root {
  @apply fixed inset-0 z-50 flex items-center justify-center;
}
